<style>
@font-face{ 
	font-family: 'MyWebFont';
	src: url('fonts/futura.eot');
	src: url('fonts/futura.eot?#iefix') format('embedded-opentype'),
url('fonts/futura.woff') format('woff'),
url('fonts/futura.ttf') format('truetype'),
url('fonts/futura.svg#webfont') format('svg');
}
<style>
#sayfa{
    width:800px;
    margin:0 auto;
}
 
#ustAlan
{ 
    width:100%;
} 

#KapsayiciAlan
{
	width: 100%;
}
  
.anaMenu 
{
	float: left;
	width: 20%;
	text-align: center;
}
.refic 
{
	float: left;
	width: 50%;
	position:relative;
	text-align: left;
} 
.refsol 
{
	float: left;
	width: 20%;
	position:relative;
	text-align: left;
} 
.refsol1 
{
	float: left;
	width: 20%;
	position:relative;
	text-align: left;
} 
.Softic 
{
	float: left;
	width: 50%;
	position:relative;
	text-align: left;
} 
.Softsol 
{
	float: left;
	width: 15%;
	position:relative;
	text-align: center;
} 
.Softsol1 
{
	float: left;
	width: 18%;
	position:relative;
	text-align: left;
} 

.icerik, .icbaslik, .icdetay, .icyazi, .icbaslikalt, .icbasaltyaz
{
	font-family: 'MyWebFont', Helvetica, Arial, sans-serif;
	float: right;
	width: 80%;
}
.softbaslik
{
	font-size: 19px;
}
.icbaslik
{
	font-size: 19px;
}	
.icbaslikalt
{
	color:#000000;
	font-size: 16px;
}
.icbasaltyaz
{
	font-size: 16px;
}
.icyazi
{
	font-size: 14px;
	line-height: normal;
}	

#BannerAlani{
	float: right;
	width: 20%;
}
 
#altAlan 
{
	width:100%;
	clear: both;
	visibility: hidden;
} 
#refbos 
{
	float: left;
	position:relative;
	width:20%;
	clear: both;
	visibility: hidden;
} 
.ayrac
{
	float:inherit;
	width: 100%;
	font-family: 'MyWebFont', Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #FFF;
	background-color: #333;
	height: 25px;
	padding-left: 5px;
}

BODY {
	font:				16px/27px 'MyWebFont', Helvetica, Arial, sans-serif;
	color:				rgb(77, 77, 77);
 	text-shadow:		0px 1px 1px rgba(255, 255, 255, 0.34); 
	background:			-webkit-gradient(radial, 50% 50%, 500, 50% 50%, 0, from(rgb(174, 175, 176)), to(rgba(255, 255, 255, 1)))  repeat-y top center, rgb(174, 175, 176);
	background-image: 	-moz-radial-gradient(center 45deg, circle closest-side, rgba(255, 255, 255, 1) 0%, rgb(174, 175, 176) 90%);
	background-size:	1024px 1300px;
	padding:			0px;
	margin:				0px auto 0px auto;
	width:				1024px;
}
.baslik {
	display:table;
	font-size: 45px;
	font-style: normal;
	color: #222;
	height: 32px;
	width: 900px;
	overflow:hidden;
}
.telefon {
	display:table;
	font-size: 25px;
	font-style: normal;
	color: #222;
	height: 32px;
	overflow:hidden;
	line-height: 40px;
	letter-spacing: 7pt;
}
.mail {
	display:table;
	font-size: 14pt;
	font-style: normal;
	color: #222;
	height: 32px;
	overflow:hidden;
	line-height: 15px;
	letter-spacing: 6px;
}

.icbasaltyaz1 {	font-family: 'MyWebFont', Helvetica, Arial, sans-serif;
	float: right;
	width: 80%;
}
.icbaslik1 {	font-family: 'MyWebFont', Helvetica, Arial, sans-serif;
	float: right;
	width: 80%;
}
.icbaslikalt1 {	font-family: 'MyWebFont', Helvetica, Arial, sans-serif;
	float: right;
	width: 80%;
}
a:link, a:visited {
text-decoration:	none;
	color:				rgb(77, 77, 77);
} 
a:hover {
	font:			'MyWebFont', Helvetica, Arial, sans-serif;
	color:			rgb(255, 255, 255);
	text-shadow:	0px 1px 1px rgba(0, 0, 0, 0.45);
}

</style>
