<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href=" {{site.baseurl}}/css/main.css">
    <link rel="stylesheet" href=" {{site.baseurl}}/css/style.css">
    <link rel="stylesheet" href=" {{site.baseurl}}/css/responsive.css">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="logo">
                            <h2><a href="#">GA</a></h2>
                        </div>
                    </div>
                    <div class="col-md-10">
{% include menu.html %}